body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e5e5e5;
}
img {
  width: 100%;
}
.top-section {
  display: flex;
}
.side-bar {
  width: 50%;
  margin-top: 70px;
  margin-left: 95px;
}
.img {
  width: 25%;
  margin-left: 50px;
}
.text-1 h1 {
  font-size: 45px;
}
.fist-h1 {
  color: black;
  margin-bottom: 10px;
}
span {
  color: orangered;
}
.second-text {
  color: rgb(224, 177, 19);
}
.text-1 {
  border-left: 5px solid gray;
  padding-left: 10px;
  line-height: 25px;
}
.paragraph {
  text-align: justify;
  /* font-family: Poppins; */
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.button {
  text-decoration: none;
  background-color: #ff5959;
  padding: 10px 50px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.link {
  margin-top: 30px;
}
.scroll-text {
  margin-top: 50px;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.mission {
  margin-top: 60px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
}

.mission-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-top: 40px;
}

.mid-1 {
  background-color: rgba(79, 157, 166, 0.1);
  padding-bottom: 40px;
  height: 50%;
  width: 60%;
  border-radius: 30px;
}
.mid-2 {
  background-color: #ffeeee;
  padding-bottom: 40px;
  height: 50%;
  width: 60%;
  border-radius: 30px;
}
.mid-3 {
  background-color: #ffeeee;
  padding-bottom: 40px;
  height: 50%;
  width: 60%;
  border-radius: 30px;
}
.mid-1 img {
  width: 126px;
  height: 126px;
  padding: 30px 30px;
}
.mid-2 img {
  width: 126px;
  height: 126px;
  padding: 30px 30px;
}
.mid-3 img {
  width: 126px;
  height: 126px;
  padding: 30px 30px;
}
.mid-1 h2 {
  margin-left: 20px;
  padding-top: -40px;
}
.mid-2 h2 {
  margin-left: 20px;
}
.mid-3 h2 {
  margin-left: 20px;
}
.mid-1 p {
  margin-left: 20px;
  font-size: 15px;
  font-weight: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.mid-2 p {
  margin-left: 20px;
  font-size: 15px;
  font-weight: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.mid-3 p {
  margin-left: 20px;
  font-size: 15px;
  font-weight: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.develop-section {
  display: flex;
  margin-top: 6%;
  justify-content: space-between;
  align-items: center;
  /* background-color: white; */
}
.development {
  width: 20%;
  margin-left: 10%;
}
.development img {
  height: 350px;
  width: 350px;
}
.development-text {
  width: 60%;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: left;
  margin-bottom: 80px;
  line-height: 20px;
  text-align: justify;
}
.development-para {
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: normal;
}
.development-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}
.development-2-text {
  width: 40%;
  margin-left: 10%;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: left;
  margin-bottom: 80px;
  line-height: 20px;
  text-align: justify;
}
.development-2-para {
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: normal;
}
.development-2-img {
  width: 40%;
}
.development-2-img img {
  height: 350px;
  width: 350px;
}
footer {
  text-align: center;
  border: 3px solid white;
  padding: 15px 5px;
  margin-top: 30px;
  background-color: black;
  color: #e5e5e5;
  padding-bottom: 3px;
  /* line-height: 50px; */
  font-size: 10px;
}
.footer-text {
  padding-top: 3px;
}
.footer-text-down {
  text-align: center;
  line-height: 1px;
}
.down-text {
  padding-bottom: 10px;
}
.from-model {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
}
.footer-section {
  background-color: #f7f2f200;
  padding-top: 25px;
}
.form-img img {
  height: 70%;
  width: 60%;
  margin-left: 10%;
}

.form-img {
  width: 50%;
}
.sign-in-form {
  width: 50%;
  box-sizing: border-box;
  height: 350px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  font-size: 40px;
  transition-property: background;
  transition-duration: 0.5s;
  background-color: #f1f1f1;
  margin-right: 5%;
}
.sign-in-form:hover {
  background: rgb(197, 196, 196);
  border: none;
  border-radius: 10px;
  box-shadow: 0 7px 7px 0 #1f212348, 0 10px 10px 0 #1f212348;
  transition-timing-function: ease-in-out;
}
.box {
  outline: none;
  border: 1px solid #383a38;
  border-radius: 10px;
  margin: 10px 5px;
  padding: 9px;
}
.box:hover {
  border: 1.2px solid #0075ff;
  box-shadow: 0 7px 7px 0 #1f212348, 0 10px 10px 0 #1f212348;
}
.box:focus {
  border-top: none;
  border-left: none;
  border-bottom: 3px solid #0075ff;
  border-right: none;
  border-radius: 5px;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
.btn {
  width: 100px;
  height: 30px;
  background: white;
  border: 1px solid #383a38;
  outline: none;
  border-radius: 10px;
  margin: 10px 5px;
}
.btn:hover {
  background: #0075ff;
  border: 1.2px solid #0075ff;
  color: white;
  font-weight: bold;
  box-shadow: 0 5px 5px 0 #1f212348, 0 7px 7px 0 #1f212348;
}

.top-text {
  text-align: center;
  border-bottom: 2px solid #333;
  /* display: inline-block;
  margin: auto; */
  font-size: 35px;
  color: #ff5959;
}
